table.blueTable {
  width: 100%;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
  table-layout: fixed;
  font-family: 'Didact Gothic', sans-serif;
}
table.blueTable td, table.blueTable th {
  padding: 3px 3px;
}
table.blueTable tbody td {
  font-size: 14px;
}
table.blueTable thead {
    border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 18px;
  font-weight: normal;
  color: #000000;
  text-align: center;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

.fadedDate {
  color: #AAAAAA;
}

.adherent {
  color: #09ad56;
  font-weight: bold;
}

.nonadherent {
  color: #f54242;
  font-weight: bold;
}
.adherentWithSkip {
  color: #de7331;
  font-weight: bold;
}

.currentDate {
  height: 30px;
  width: 50px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  /* background: yellow; */
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.takenDose {
  color: #09ad56;
}
.missedDose {
  color: #f54242;
}
.skippedDose {
  color: #de7331;
}

.box {
  float: left;
  height: 15px;
  width: 15px;
  margin-right: 5px;
  /* height: 20px;
  width: 20px;
  margin-bottom: 15px;
  border: 1px solid black; */
}

.red {
  background-color: #f54242;
}

.green {
  background-color: #09ad56;
}

.orange {
  background-color: #de7331;
}

.legendContainer {
  align-items: center;
  flex: 1;
  flex-direction: row-reverse;
}

body {
  font-family: 'Lora', serif;
  margin: 0px;
}

.topSection {
  background-color: #002864;
  padding: 20px;
}

.bottomSection {
  background-color: #FBECB7;
  padding: 10px;
}